

<app-nav></app-nav>
<router-outlet></router-outlet>
<!-- <footer>
  <div class="footer-container">
    <div class="site-creator">
      <p>Created by:</p>
      <p>tzippy eisenstein and ahouvy kofm</p>
    </div>
    <nav class="footer-nav">
      <a href="#">Home</a>
      <a href="#">About</a>
      <a href="#">Destinations</a>
      <a href="#">Contact</a>
    </nav>
    <div class="social-icons">
      <a href="#"><i class="fab fa-facebook-f"></i></a>
      <a href="https://www.instagram.com/your_instagram_username/"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
    </div>
  </div>
</footer> -->
